.dropdown {
  position: relative;
}

.dropdown {
  --height: 26px;
}
.dropdown__button {
  position: relative;
  height: var(--height);
}
.dropdown__button-content {
  border-radius: 16px;
  padding: 0 4px;
  transition: all 0.25;
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.05);
  height: var(--height);
  display: flex;
  align-items: center;
  user-select: none;
}

.dropdown__button-content:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
}

.dropdown__panel {
  position: absolute;
  bottom: 0;
  right: 0;
  top: calc(var(--height) + 4px);
  background-color: rgba(255, 255, 255, 0.08);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0px 0px;
  height: fit-content;
  text-align: right;
  overflow: hidden;
  z-index: 1;
}

.dropdown__panel-item {
  padding: 4px 14px;
  user-select: none;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.dropdown__panel-item:first-child {
  padding-top: 6px;
}

.dropdown__panel-item:last-child {
  padding-bottom: 6px;
}

.dropdown__panel-item:hover {
  color: rgba(255, 255, 255, 0.9);
}

.dropdown__panel-item:hover {
  background-color: #222;
}
