:root {
  --tabs-height: 34px;
  --tabs-padding: 3px;
}

.tabs {
  display: flex;
  background-color: rgba(85, 85, 85, 0.418);
  border-radius: var(--tabs-height);
  padding: var(--tabs-padding);
  position: relative;
  height: var(--tabs-height);
  align-items: center;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.377);
}

.tabs__item {
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  height: calc(100% - calc(var(--tabs-padding) * 2));
  border-radius: var(--tabs-height);
  cursor: pointer;
  z-index: 1;
  color: rgb(198, 198, 198);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs__item.--active {
  color: rgb(37, 37, 37);
}

.tabs__active-element {
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: calc(100% - calc(var(--tabs-padding) * 2));
  margin-top: 3px;
  border-radius: var(--tabs-height);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}
