:root {
  --edit-line-handler-margin: 3px;
  --section-edit-btn-size: 22px;
  --section-edit-btn-hover-transition: 0.1s ease-in;
}

.dashboard-section {
  --section-padding-v: 10px;
  --section-padding-h: 14px;
  width: 100%;
  border: 0px solid rgba(255, 255, 255, 0.025);
  border-radius: 20px;
  font-size: 12px;
  background-color: rgb(20, 20, 20);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.section-gap {
  gap: 14px;
}

.dashboard-section__header {
  padding-top: var(--section-padding-v);
  padding-left: var(--section-padding-h);
  padding-right: var(--section-padding-v);
  display: flex;
  align-items: center;
  min-height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  gap: 12px;
}

.dashboard-section__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.dashboard-section__header {
  user-select: none;
}
.dashboard-section__content {
  padding-bottom: var(--section-padding-v);
  height: 100%;
  position: relative;
}

.dashboard-section__delete-handler {
  display: flex;
  justify-content: center;
}

.dashboard-section__delete {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--section-edit-btn-size);
  height: var(--section-edit-btn-size);
  width: var(--section-edit-btn-size);
  cursor: pointer;
  color: rgb(27, 3, 1);
  background-color: #fc3714;
  transition: var(--section-edit-btn-hover-transition);
}

.dashboard-section__delete:hover {
  color: rgb(199, 10, 10);
  background-color: #ff9393;
}

.dashboard-section__delete:active {
  opacity: 1;
}

.dashboard-section__edit-line.--horizontal {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.02) 100%
  );
  height: 1px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: var(--edit-line-handler-margin);
  margin-bottom: var(--edit-line-handler-margin);
}

.dashboard-section__edit-line.--vertical {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.02) 100%
  );
  height: 100%;
  width: 1px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: var(--edit-line-handler-margin);
  margin-right: var(--edit-line-handler-margin);
}

.dashboard-section__edit-line-button:hover {
  color: rgb(8, 166, 8);
  background-color: var(--success-color-hover);
}

.dashboard-section__edit-line-button:active {
  color: rgb(20, 182, 20);
  background-color: var(--success-color);
}

.dashboard-section__edit-line-button {
  background-color: var(--success-color);
  color: rgb(1, 29, 1);
  width: var(--section-edit-btn-size);
  height: var(--section-edit-btn-size);
  min-width: var(--section-edit-btn-size);
  min-height: var(--section-edit-btn-size);
  border: 0;
  border-radius: var(--section-edit-btn-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--section-edit-btn-hover-transition);
  svg {
    scale: 1.7;
  }
}

.dashboard-section__edit-line.--vertical
  > .dashboard-section__edit-line-button {
  transform: translateX(-50%);
}

.dashboard-section__edit-line.--horizontal
  > .dashboard-section__edit-line-button {
  transform: translateY(-50%);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(35, 35, 35);
  border-radius: 10px;
}

.dashboard-section__content-empty {
  display: flex;
  height: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  color: rgb(153, 153, 153);
}
