:root {
  --dashboard-header-height: 60px;
  --dashboard-controls-height: 50px;
}

.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.dashboard__title {
  margin-left: 12px;
}

.dashboard__header {
  padding: 16px 32px;
  height: var(--dashboard-header-height);
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  position: relative;
  display: flex;
  align-items: center;
}

.dashboard__header::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: rgb(10, 10, 10);
  z-index: 1;
}

.dashboard__controls {
  padding: 16px 32px;
  height: var(--dashboard-controls-height);
  width: 100%;
  background-color: rgba(20, 20, 20);
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
}

.dashboard__content {
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  transition: transform 0s ease-in-out;
  height: fit-content;
}

.dashboard__content-screen {
  --width: calc(100vw);
  min-width: var(--width);
  max-width: var(--width);
  height: calc(
    100vh - var(--dashboard-header-height) - var(--dashboard-controls-height)
  );
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.toggle-edit-mode {
  font-size: 13px;
  display: flex;
  color: rgb(215, 215, 215);
}

.toggle-edit-mode__label {
  margin-right: 8px;
}

.dashboard {
  display: none;
}

@media (min-width: 992px) {
  .dashboard {
    display: flex;
  }
}
