.desktop-only {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .desktop-only {
    display: none;
  }
}
