:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(231, 231, 231);
  background-color: #050505;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 14px;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row {
  display: flex;
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

* {
  box-sizing: border-box;
}

.ml-auto {
  margin-left: auto;
}

.custom-button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  color: rgb(231, 231, 231);
  font-size: 13px;
  height: 34px;
  display: flex;
  line-height: 34px;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 34px;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  svg {
    color: rgb(231, 231, 231);
  }
}

.custom-button.--success {
  background-color: var(--success-color);
  color: rgb(1, 29, 1);
  &:hover {
    background-color: #54ea54;
  }
  svg {
    color: rgb(1, 29, 1);
  }
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.ml-2 {
  margin-left: 8px;
}

:root {
  --success-color: #54ea54;
  --success-color-hover: #c7ffc7;
}

button {
  background-color: transparent;
  border: 0;
}
